.main{
    width: 96vw;
    min-height: 100svh;
    height: max-content;
    overflow-y: scroll;
    background-color:#210c6e;
    position: relative;
    color: white;
    overflow-x: hidden;
}

.portfolio-heading{
position: relative;
width: fit-content;
}
.portfolio-heading::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: white;
    height: .5px;
    animation: line 800ms 650ms forwards;

}
@keyframes line {
    0%{
        opacity: 0;
        width: 0;
        transform: translateX(-10px);
    }
    100%{
        width: 123px;
        
    }
    
}
.header-main{
    position: fixed;
    left: 0;
    top: 1px;
    padding:  10px;
    display: flex;
    gap: 3px;
    height: 8%;
    width: 100%;   
opacity: 0;
animation:portfolio 800ms ease-in-out forwards
    
}

@keyframes portfolio {
    0%{
        opacity: 0;
        transform: translateY(-65px);
    }
    100%{
        
        opacity: 1;
    }
    
}
.astrik{
    color: red;
    font-size: 25px;
    animation: astrik 800ms 1.7s forwards;
    font-weight: 400;
    opacity: 0;
    
    
}
@keyframes astrik {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        color: red;
    }
    100%{
        color: white;
        opacity: 1;
        
        
    }
    
}
.name-area{
    position: absolute;
    /* border: 1px solid red; */
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    text-align: center;
    height: 83%;
    /* min-height: max-content; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 50px;

    align-items: center;
    /* border: 1px solid red; */

}
.name{
    font-family: 'Poppins', sans-serif;
    /* font-family: "Protest Revolution", sans-serif;     */
    font-size: 32px;
    color: #fff;
    animation: name 990ms 700ms ease-out forwards;
    opacity: 0;
}
@keyframes name {
0%{
    opacity: 0;
    transform: translateY(45px);
}    
100%{
    opacity: 1;
    
}
}
.full-stack-heading{
    
    font-family: 'Poppins', sans-serif;
 


    /* font-family: boldStyle; */
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: crosshair;
    opacity: 0;
    animation: fullstack 1000ms 900ms forwards;
    
    
}
@keyframes fullstack {
0%{
    opacity: 0;
    transform: translateY(40px);
}    
100%{
    opacity: 1;
}
}
.description{
    width: 70%;
    font-family: 'Poppins', sans-serif;
    /* font-family: "Open Sans", sans-serif; */

    font-size: 17px;
    opacity: 0;
    animation: desc 800ms 1.3s forwards;
    
}
@keyframes desc {
0%{
    opacity: 0;
    transform: translateY(16px);
}
100%{
    opacity: 1;
}
    
}
.portfolio-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.portfolio-heading{
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
     
    
}
.portfolio-heading-2{
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    align-self: flex-end;
     
    
}


.main::-webkit-scrollbar{
    display: none;
}


.cursor{
    background-color: #53477f;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: ease-out;
    transition-duration: 400ms;
    opacity: .6;
    

}




@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        top: 20%;
        transform: scale(1.1) rotate(10deg);
    }
}
 

#big-cursor{
    width: 40px;
    height: 40px;
    background-color: #e62ee6;
    opacity:.7;
}
.close{
    position: absolute;
    top:15px;
    right: 30px;
    font-size: 25px;
    font-family: "Protest Revolution", sans-serif;
    cursor: pointer;
    width: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: close-icon 300ms 2s forwards;
}
@keyframes close-icon {
    to{
        opacity: 1;
    }
    
}

.close-1{
    width: 35px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: white;
}
.skills-main{
    width: 100%;
    height: max-content;
   background-color:#ed1846;
   
    position: absolute;
    border-radius: 12px;
    top: 5%;
    left: 0;
    display: flex;
    padding: 20px;
    gap: 70px;
    padding-top: 90px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: skill-main 600ms forwards;
    z-index: 2;
    
   
}

@keyframes skill-main {
    
    to{
        opacity: 1;
   
    }
    
}

.skill-left{
    width: 45%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 15px;
    align-self: flex-start;
    
}
.skill-right{
    width: 45%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
   
    
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
    
}
.skill-level{
    background-color:  #000;
    width: 0;
    height: 2.5px;
    animation: levelup 800ms 1s forwards;
}
.explore-skills{
    font-family: "Poppins",sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    font-weight: 380;
    /* font-family: "Protest Revolution", sans-serif;     */

    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
}

.explore-text{
    opacity: 0;
    animation: explore-text 700ms 1.3s forwards;
}
@keyframes explore-text {
    to{
        opacity: 1;
        transform: translateY(-10px);
    }
}
.explore-resume-wrapper{

display: flex;
align-items: center;
justify-content: center;
gap:25px


}
.explore-btn{
    background-color: transparent;
    color: wheat;
    padding: 10px 20px;
    border: 1px solid white;
    background-color:transparent;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Protest Revolution", sans-serif;
    animation: explore-btn 300ms 1.55s forwards;
    opacity: 0;
    transition: 300ms;
    width: 250px;
}
.explore-btn:hover{
    background-color: white;
    color: rgba(7, 7, 206, 0.807);

    
}
@keyframes explore-btn {
    
    to{
        opacity: 1;
        transform: translateY(-10px);
    }
}

@keyframes levelup {
    to{
        width: 100%;
    }
    
}


.skill-text{
    font-family: "Poppins", sans-serif;    
    letter-spacing: 1px;
    opacity: 0;
  
    animation: skill-text 500ms 1.55s forwards;
}
@keyframes skill-text {
    from{
        opacity: 0;
        transform: translateX(-15px);
   
    }
    to{
        opacity: 1;
    }
    
}
/* .skill-percent{
    width: 0;
    animation: levelup 1s 1.4s forwards !important;
}
@keyframes levelup {
    0%{
        width: 0;
       
    }
    100%{
        width: 100%;
    }
    
} */
.skill-right{
    width: 50%;
    height: 100%;
    align-self: flex-start;
    gap: 15px;
    
    /* border: 1px solid  blue; */
}

.close-ss{
    display: none;
}
.last-div{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 50px;
    animation: lastdiv 1.4s 1.9s forwards;
    opacity: 0;
    z-index: 1;
    p{
        font-size: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    }
    h1{
        font-family: 'Courier New', Courier, monospace;
    }
}

@keyframes lastdiv {
    from{
        transform: translateY(5px);
    }
    to{
        opacity: 1;
    }
    
}



@media (max-width:520px){
    .main{
        min-width: 100%;
        height: 100svh;
        position: none;
        display: flex;
        flex-direction: column;  
        padding-bottom: 10px;
        position: relative;
        
    }
    .close-ss{
        display: inline;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;

    }
   
    .last-div{
        margin-top: 20px;
        gap: 10px;
    }
    


    .explore-btn{
        transform: 0s;
        transition: none;
    }
   
    .cursor{
        display: none;
    }
    .big-cursor{
        display: none;
    }
    .astrik{
        display: none;
    }
    .portfolio-heading-2{
    font-size: 18px;
    margin-top: -5px;
}
.portfolio-wrapper{  
    padding: 0 5px;
    width: fit-content;
    /* background-color: red; */
    
}
    
    .name-area{
        width: 100vw;
        margin-top: 5%;
        gap: 10px;
        height: max-content;
    }
    .name{
        font-size: 22px;  
        
    
    }
    .full-stack-heading{
        font-size: 32px;
        line-height:65px;
        text-align: center;
        margin-bottom: 15px;
    }
    .description{
        width: 75vw;
        font-size: 14px;
        font-family: "Federo", sans-serif;
        line-height: 16px;
        
    }
    .portfolio-heading::before{
      display: none;
    }
    .explore-skills{
        width: 73vw;
        font-size: 14px;
        font-family: "Federo", sans-serif;
        

  line-height:16px;
        
    }
    .explore-resume-wrapper{
        flex-direction: column-reverse;
        gap: 15px;
    }
   
   
    .header-main{
        position: relative;
        width: 100%;
        padding:10px 5px;
        top: 0;
        background-color: transparent;
        margin-top: -1px;
        max-height: 55px;
    }
    .skills-main{
        position: absolute;
        flex-direction: column;
        gap: 18px ;
        width: 100vw;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 70px;
        padding-bottom: 50px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius:0 ;
        overflow-y: scroll;
        animation:skill-main 600ms forwards alternate;
        opacity: 0;
        z-index: 999 !important;
        transition: height 0.3s
    
    }
    .skills-main::-webkit-scrollbar{
        display: none;
    }
    @keyframes skill-main {
        from {
            transform: translateY(400px);
        }
        to{
            
            min-height: 100vh;
            opacity: 1;
        }
        
    }
   
    .skill-left{
        width: 100%;
        gap: 20px;
        height: min-content;
    }
    .skill-right{
        width: 100%;
        gap: 20px;
        height: min-content;
    }
    .close{
        display: none;
    }
   
    
   
}


@media (max-width:320px) {
    .full-stack-heading{
        font-size: 22px;
        line-height: 57px;
    }
    .explore-resume-wrapper{
    flex-direction: column;
    gap: 10px;
}
.explore-btn{
    width: 90vw;
}
    
}