.work{
    width: 45vw;
    height: 100vh;
    background-color: #ffde7a;
    z-index: 6;
    position: absolute;
    top: 0;
    right: 61px;
    animation: workwidth 200ms ease-in;
    overflow-y: scroll;
    padding: 20px; 
}
.work::-webkit-scrollbar{
    display: none;
}
#about{
    background-color: #ed1846;
}

.top-work{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.work-heading{
    padding: 1px;
    font-family: "mullish",sans-serif;
    font-weight: 50;
    border-bottom: 1px solid black;
    animation: work-animation-heading 300ms;
}
.work-heading:hover{
    color: black;
}
@keyframes work-animation-heading {
 0%{
    opacity: 0;
    transform: translateX(20px);
 }
 100%{
    transform: translateX(0);
    opacity: 1;
    
 }
    
}

@media(max-width:750px){
    .work{
        width: 70vw;
    }
}
@media (max-width:520px){
    .work{
        width: 100vw;
        z-index: 99;
        right: 0;
        padding: 2px 4px;
    }
   
    
    .top-work{
        padding: 6px;
    }
    .work-heading{
        font-size: 38px;
    }
}